
/*navbar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:rgb(28, 28, 107);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color:rgb(28, 28, 107);
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    color:rgb(28, 28, 107);
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color: #444;
}
#nav-right{
    float:right;
}

/*index page*/
#home{
    color:rgb(28, 28, 107);
    background-image: url("/static/images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#home-description{
    columns:2;
    column-gap: 10px;
}
#home-description .box{
    height:80vh;
    
}
#home-description .box img{
    width:100%;
    height: 80%;
    
}
/*search page*/
.blur-background{
    background-image: url("/static/images/home-bg.jpg");
    /*blur effect*/
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.search-content{
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}  
button.btn.btn-info{
    border-radius: 5px;
    background-color:#445a86;
}
.search{
     color: #f1f1f1!important;
     font-size:2rem;
}
/*create page*/
#create{
        color:rgb(28, 28, 107);
        background-color: #bbcec3;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*view page*/
#view{
    color:rgb(28, 28, 107);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    margin-bottom: 0;
    padding-bottom: 15px;   
}
.card{
    width:22rem;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding:5px;
    margin:3px;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 200px;
}
/*details page*/
#details img {
  width: 100%;
  height: 100vh;
}
#details-thoughts p{
    position: absolute;
    width: 65vw;
    top:28vh;
    left:18vw;
    color:black;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/*Update page*/
#update{
    color:rgb(26, 26, 128);
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

#update img{
    width:25%;
    height:15%;
}
/*search result page*/
#search_result_t{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    
}
#result_title{
    width: 100%;
    height: 75vh;
    overflow:scroll;
}

#result-details{
    width:50%;
    text-align:left;
    float:left;
    padding:0 1em;
}

#result-img{
    width:50%;
    float:left;
    height: 500px;
}

#result-img img{
    width:100%;   
    height: 500px;
}
/*footer*/
.footer{
  width:100;
  color: rgb(6, 9, 51);
}

/*register*/
.register-form{
    color: #6e2f1a;
    font-weight: bold;
    border: 3px solid #6e2f1a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
} 

.blur-background-register{
   background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    /*blur effect*/
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/*login*/
.login-form{
    color: #326b3c;
    font-weight: bold;
    border: 3px solid #326b3c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
} 

.blur-background-login{
   background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    /*blur effect*/
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}