
/*navbar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(187, 206, 195);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:rgb(28, 28, 107);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color:rgb(28, 28, 107);
}
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:rgb(187, 206, 195);;
    color:rgb(28, 28, 107);
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color: #444;
}


/*index page*/
#home{
    color:rgb(28, 28, 107);
    background-image: url("/static/images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home-description{
    columns:2;
    column-gap: 10px;
}

#home-description .box img{
    width:100%;
}

/*create page*/
#create{
        background-color: rgb(187, 206, 195);
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
