/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/*home page*/
@media(max-width:772px){
    #home-description{
    columns:1;
}
    #home{
        height: 200vh;
        margin-left: 0!important;
    }
}

/*view page*/
@media(max-width:991px){

}

@media(max-width:400px){
    input[type=search]{
        width: 100%;
    }

}
/*result page*/
@media(max-width:847px){
    #result-details{
    width:100%;
    padding:0 1em;
}   
    #result-img{
        width:100%;
        height: 350px;
    }
    #result-img img{
        width:100%;   
        height: 350px;
    }
}