/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/*home page*/
@media(max-width:772px){
    #home-description{
    columns:1;
}
    #home{
        height: 200vh;
        margin-left: 0!important;
    }
}

/*view page*/
@media(max-width:991px){
    .card{
        margin: 0.2vw;
        width: 100%;
    }
}

@media(max-width:400px){
    .card{
        margin: 0.2vw;
        width: 100%;
    }
    .card-img{
        width:45%;
    }
    .card-body{
        padding:0.75rem;
        width: 55%;
    }
    input[type=search]{
        width: 100%;
    }

}