{% extends 'layout.template.html' %} {% block content %}
<div class="container" id="create">
    <h1>Create New Insta Blogs</h1>
    <p>Upload a photo and share your thought about it.</p>
    <form method ="POST">
        <div class="form-group">
            <label>Title:</label>
            <input type="text" name="title" class="form-control" placeholder="title of the image"/>
        </div>
        <div class="form-group">
            <label>Categories:</label>
            <input type="text" name="categories" class="form-control" placeholder="Weather, Nature.."/>
        </div>
        <div class="form-group">
            <label >Date:</label>
            <input type="date" name="create-date" class="form-control" placeholder="Date of created"/>
        </div>
        <div class="form-group">
            <label>Thoughts:</label>
            <textarea name="thought" class="form-control" maxlength="300" placeholder="max length 300"></textarea>
        </div>
        <div>
            <a id="upload_widget" class="cloudinary-button">Upload Photo</a>
            <input type="hidden" id="uploaded_file_url" name="uploaded_file_url" accept="image/*" required/>
            <br/>
            <p id="uploaded_file_display" style="display:none">Uploaded File Name:
            <span id="uploaded_file_name"></span></p>
        </div>
        <input type="submit" class="btn btn-info" value="Create"/>
    </form>
</div>    
{%endblock%}
{% block js %}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" ></script>

	<script type="text/javascript">
		var myWidget = cloudinary.createUploadWidget({
            cloudName: '{{cloud_name}}', 
            uploadPreset: '{{upload_preset}}'}, (error, result) => { 
                if (!error && result && result.event === "success") { 
                    console.log('Done! Here is the image info: ', result.info); 
                    let fileURL = document.querySelector('#uploaded_file_url');
                    
                    fileURL.value = result.info.url;
            

                    let filenameDisplay = document.querySelector('#uploaded_file_display');

                    // make it appear (by setting it to display: block)
                    filenameDisplay.style.display = 'block';

                    // fill in the file name
                    let filenameDisplaySpan = document.querySelector("#uploaded_file_name");
                    filenameDisplaySpan.innerText = result.info.original_filename;
                        
                }
                
            }
        )

        document.getElementById("upload_widget").addEventListener("click", function(){
                myWidget.open();
        }, false);
        
	</script>
{%endblock%}	