{% extends 'layout.template.html' %} {% block content %}
<!--Content-->

    <div class="jumbotron" id="login">
        <div class="blur-background-login"></div>
        <div class="login-form">
            <h1>Login</h1>
            <form method="POST">
                <label>Email:</label>
                <input type="text" name="user-email" /><br>
                <label>Password:</label>
                <input type="password" name="user-password"/><br>
                <button type="submit" class="btn btn-info">Log In</button>
            </form>
        </div>
    </div>

{%endblock%}
