{% extends 'layout.template.html' %} {% block content %}
<!--Content-->
<section>
    <div class="jumbotron" id="register">
        <div class="blur-background-register"></div>
        <div class="register-form">
            <h1>Register</h1>
            <form method="POST">
                <label>User Name:</label>
                <input type="text" name="user-name"/><br>
                <label>Email:</label>
                <input type="text" name="user-email"/><br>
                <label>Password:</label>
                <input type="text" name="user-password"/><br>
                <button type="submit" class="btn btn-info">register</button>
            </form>
        </div>   
    </div>
</section>
{%endblock%}