{% extends 'layout.template.html' %}	
{% block css %}
{%endblock%}	
{% block content %}
<!--Content-->
<div class="container" id="search">
    <div class="blur-background"></div>
    <div class="search-content">
        <h2>Search by title of Insta Blog</h2>
        <form id="search-form" method="POST">
            <input type="search" name="search_title" maxlength="99" placeholder="Tiramisu">
            <button type="submit" class="btn btn-info">Search</button>
        </form>
    </div>
</div>

{%endblock%}
