{% extends 'layout.template.html' %} {% block content %}
<!--Content-->

<div class="container" id="view">
  <h2>List of the Insta Blog</h2>
        {%if page_number > 0 %}
            <a href="/view?page={{page_number-1}}" class="btn btn-primary">Previous 6 Listings</a>
        {%endif%}
        <a href="/view?page={{page_number+1}}" class="btn btn-primary">Next 6 Listings</a>

        <h6>Page {{page_number+1}} of total blog :{{blog_count}}</h6>
        <div class="row" id="card-row">
        {%for blog in all_blog%}
            <div class="card">
                <img class="card-img-top" src="{{blog.uploaded_file_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Title: {{blog.title}}</h5>
                    <p class="card-text">Categories: {{blog.categories}}<br>
                               Date: {{blog.create_date}}<br>
                               Thoughts:  <a href="{{url_for('details_blog',id=blog._id)}}">Details</a><br>
                               By:{{blog.user_email}}</p>

                    <a href="{{ url_for('update_blog',id=blog._id)}}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{{ url_for('delete_blog',id=blog._id) }}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        {%endfor%}
        </div>
</div>

{%endblock%}